@charset "utf-8";
/** contentbereich **/
div#content { 
	position:relative;
	top:-36px; 
	width: 100%; 
	min-height: 30px; 
}

div#sidebar { 
	width: 1%; 
	min-height: 50px;
	float: left; 
}
div#article { 
	width: 79%; 
	min-height: 50px;
	float: left; 
}
div#subnav { 
    width: 17%; 
    min-height: 50px;
    float: left; 
}
