@charset "utf-8";
body {
	background-color: #def;
}
hr {
	border-style: solid;
	border-color: #87b;
	background-color: #87b;
}
h1,h2,h3,h4,h5 {
    color: #000;
}
/**** GRUNDGERUEST ****/
div#wrapper { 
	background-color: #fff;
}

/** kopfbereich **/
div#topnav { 
	background-color: #fff;
}
div#topnav ul>li>a{
    color: #87b;
}
div#topnav ul>li>a:hover{
    color: #fff;
    background-color: #87b;
}
div#mainnav-wrapper {
    background-color: #87b;
}
div#mainnav ul>li{ 
    border-right: solid 1px #fff;
    text-color: #fff;
}
div#mainnav ul>li>a{
    color: #fff;
}
div#mainnav ul>li>a:hover{
    color: #87b;
    background-color: #fff;
}

div#subnav ul>li>a{
    color: #87b;
	border-bottom: 1px #87b solid;
}
div#subnav ul>li>a:hover{
	background: #87b;
	color: #fff;
}

div#subnav div.csc-default {
	border: #87b solid 1px;
}
div#subnav div.csc-default h1{
	background-color: #87b;
	color: #fff;
}